@*Group Number - 12
    Group members name - Princejot Singh, Preetinder Singh, Jashanpreet Singh Sran and Rudra Kainth
    Submitted to - Prof. Harjinder Kaur
    Project Title - Employee Registration App
    Date of Submittion - 10th of December, 2023
*@
@page "/"

<h1>Employee Management App</h1>

Welcome to our new app.
